@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
  width: 375px;
  height: 100vh;
  max-width: 100%;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
}

.navigation {
  display: flex;
  text-decoration: none;
}

.logo {
  text-decoration: none;
  margin-top: 58px;
  margin-left: 24px;
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.humburger {
  margin-top: 68px;
  margin-right: 36px;
}

.logo:hover {
  text-decoration: underline;
}

main {
  background-image: url("images/header-shapes\ mobile.svg"), url("images/header-background-mobile\(4\).svg");
  height: 100vh;
  background-repeat: no-repeat;
  padding-top: 120px;
  background-color: #e5e5e5;
}

.hero {
  margin: 0 24px;
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
}

.hero-details {
  margin: 12px 24px 0 24px;
  width: 327px;
  height: 146px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.connect {
  width: 127px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

.link {
  display: flex;
  list-style: none;
  gap: 19px;
  align-items: center;
  margin-right: 24px;
  padding-left: 24px;
}

.projects {
  margin-top: 330px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 150px;
}

.portfolio-projects {
  margin: 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 582px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-title {
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
}

.work {
  display: flex;
  align-items: center;
  column-gap: 12px;
  list-style: none;
  padding: 0;
  margin: 10px, 0;
  width: 295px;
}

.canopy {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.counter {
  top: 12px;
  border-radius: 6px;
  background: #c1c7d0;
}

.back-end-dev {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.counter2 {
  top: 12px;
  border-radius: 6px;
  background: #c1c7d0;
}

.year {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card-details {
  width: 295px;
  height: 76px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

.languages {
  display: flex;
  justify-content: flex-start;
  column-gap: 8px;
  align-items: center;
  padding-left: 0;
  margin: 0;
  width: 295px;
}

.languages-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.html {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.css {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.javascript {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.project-btn {
  align-self: flex-start;
  box-sizing: border-box;
  padding: 16px;
  background: #fff;
  border: 2px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 10px;
}

.project-btn-text {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

.project-btn:hover {
  color: #fff;
  background-color: #396df2;
}

.project-btn:active {
  color: #fff;
  background-color: #04255c;
}

.about {
  background-color: #fff;
  border-top-right-radius: 80px;
  padding: 114px 0 0 0;
  background-repeat: no-repeat;
  height: 1100px;
}

.about-title {
  width: 327px;
  height: 101px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-details {
  width: 327px;
  height: 144px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.about-connect {
  width: 140px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 0;
}

.about-link {
  display: flex;
  list-style: none;
  gap: 19px;
  align-items: center;
  margin-left: 14px;
  padding: 0;
}

.get-resume {
  border-radius: 8px;
  width: 158px;
  height: 50px;
  font-style: normal;
  font-weight: 520;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
  border: 2px solid #989ade;
}

.get-resume:hover {
  color: #fff;
  background-color: #396df2;
}

.get-resume:active {
  color: #fff;
  background-color: #04255c;
}

.about-languages {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.all-languages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.align-languages {
  display: flex;
  align-items: center;
  gap: 10px;
}

.all-skills {
  padding-left: 0;
  margin-left: 0;
  margin-right: 24px;
}

.first-skill {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 180px;
}

.second-skill {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 195px;
}

.line {
  width: 100%;
}

.third-skill {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 255px;
}

.about-padding-left {
  padding-left: 24px;
}

.contact-form {
  padding-left: 24px;
  width: 375px;
  height: 779px;
  float: center;
  margin-top: 100px;
  padding-top: 120px;
  background: #6070ff;
  border-top-left-radius: 80px;
  background-image: url("images/contact-form-shapes-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.contact-form-details {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  row-gap: 12px;
}

.contact-title {
  margin-top: 50px;
  margin-bottom: 0;
  width: 801px;
  height: 56px;
  left: -213px;
  top: 4734px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 50px;
  color: #fff;
}

.contact-details {
  width: 327px;
  height: 102px;
  left: 24px;
  top: 4802px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contact-form-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
  padding-left: 0;
  margin-top: 77px;
}

input {
  width: 330px;
  height: 40px;
  border-radius: 8px;
}

textarea {
  width: 330px;
  height: 170px;
  border-radius: 8px;
}

.contact-form-button {
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  left: 24px;
  background: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
}

.contact-form-button:hover {
  color: #fff;
  background-color: #396df2;
}

.contact-form-button:active {
  color: #fff;
  background-color: #04255c;
}

.contact-form-end-image {
  margin-left: 100px;
}

.desktop-navigation {
  display: none;
}

.mobile-navigation {
  background: #6070ff;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-inline: 10px;
  opacity: 80%;
}

.mobile-navigation.close {
  display: none;
}

.mobile-close-btn {
  background-color: #6070ff;
  margin-top: 35px;
  margin-left: 80%;
}

#close-btn {
  height: 20px;
  width: 20px;
}

.mobile-menue-list {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.mobile-menue-links {
  list-style: none;
  text-decoration: none;
  margin-bottom: 40px;
}

.desktop-cards-images {
  display: none;
}

@media (min-width: 768px) {
  body {
    background-color: #e5e5e5;
    width: 100%;
  }

  .mobile-navigation {
    display: none;
  }

  .navigation {
    display: none;
  }

  .desktop-navigation {
    display: flex;
    margin: 25px 154px 0 0;
  }

  .desktop-navigation ul a {
    text-decoration: none;
  }

  .logo {
    margin: 25px auto 0 154px;
  }

  .logo:hover {
    transform: rotate(90deg);
  }

  .menu-inimation:hover {
    transform: scale(1.5);
  }

  main {
    background-image: none;
    background-image: url("images/desktop-Header-bg.svg"), url("images/desktop-header-background-shape.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #e5e5e5;
    padding-bottom: 400px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 500px;
  }

  .headline-section {
    width: 500px;
    margin: 90px 0 100px 225px;
  }

  .hero {
    width: 350px;
    margin: 0;
  }

  .hero-details {
    width: 750px;
    height: inherit;
    margin: 0;
  }

  .connect {
    margin: 0;
    margin: 20px 0 0;
  }

  .link {
    padding: 0;
    margin: 15px 0;
  }

  .projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .portfolio-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: 500px;
  }

  .card-image {
    display: none;
  }

  .card-odd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 22px;
  }

  .desktop-cards-images {
    display: inline;
  }

  .desktop-card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    padding-bottom: 80px;
    margin: 24px;
  }

  .card-title {
    height: 50px;
    width: 70%;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .work {
    margin: 0;
    width: 310px;
  }

  .canopy {
    color: #344563;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .back-end-dev {
    width: 130px;
    height: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .year {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .card-details {
    width: 80%;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .project-btn {
    margin-top: 0;
    box-sizing: border-box;
    padding: 16px;
    background: #fff;
    border: 2px solid #98a8cf;
    border-radius: 16px;
  }

  .card-even {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 24px;
  }

  .desktop-card-details-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    padding: 48px 0 80px 48px;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
  }

  .about-part {
    padding-left: 118px;
  }

  .about-title {
    margin: 28px 0 0 0;
  }

  .about-details {
    width: 450px;
    height: 100px;
  }

  .languages-part {
    padding-right: 142px;
  }

  .first-skill {
    display: flex;
    justify-content: space-between;
    padding: 0 24px 0 40px;
  }

  .second-skill {
    display: flex;
    justify-content: space-between;
    padding: 0 24px 0 40px;
  }

  .third-skill {
    display: flex;
    justify-content: space-between;
    padding: 0 24px 0 40px;
  }

  .all-languages {
    display: flex;
    flex-direction: row;
  }

  .desktop-langages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    height: 120px;
    width: 122px;
  }

  .desktop-language-text {
    margin: 12px 0 0 0;
    padding-right: 20px;
  }

  .contact-form {
    grid-column: 1/3;
    background-image: url("images/contact\ form\ background\ shapes\(1\).svg");
    width: 98.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  .contact-form-details {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-title {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .contact-details {
    width: 40%;
  }

  .contact-form-list {
    margin: 0;
    width: 450px;
  }

  input {
    width: 450px;
    border-radius: 0;
    padding-left: 15px;
  }

  textarea {
    width: 450px;
    border-radius: 0;
    padding: 15px 0 0 15px;
  }

  .contact-btn {
    align-self: center;
  }
}
